@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


a:hover {
  color: #8F43AE; /* Hover color */
}
a:active {
  color: #8F43AE; /* Active link color */
}

.highlight {
  color: #8F43AE; /* Active link color */
  font-weight: bold;
}



.circle-background {
  position: relative;
  display: inline-block;
}

.circle-background::before {
  content: '';
  position: absolute;
  top: 92%;
  left: 50%;
  width: 400px; /* Adjust the size as needed */
  height: 200px; /* Adjust the size as needed */
  background-color: #f0dffa; /* Background circle color */
  border-radius: 200px 200px 0 0; /* Create a half-circle */
  transform: translate(-50%, -50%);
  z-index: -1; /* Ensure the circle is behind the image */
}


.rounded-lg {
  border-radius: 0.5rem; /* Adjust the border radius as needed */
}

.shadow-lg {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* Adjust the shadow as needed */
}

.float-image {
  display: inline-block;
  position: relative;
  z-index: 1; /* Ensure the image is above other elements */
  border: none; /* Remove any border */
  border-radius: 0;
  width: 1600px;
  left: 5%;
  top:76px
  /*height: auto; !* Maintain aspect ratio *!*/
  /* Ensure corners are not rounded */
}

.banner{
   color: white; /* Text color */
   font-weight: bold;
   background-image: url('/banner.png'); /* Path to your background image */
   background-size: cover; /* Adjusts the image to cover the entire element */
   background-position: center; /* Centers the image */
   background-repeat: no-repeat; /* Prevents the image from repeating */
}

.tile-light{
  background-color: white;
  color: #8F43AE;
  border: 1px solid black; /* Add a black border */
}
.tile-dark{
  background-color: #8F43AE;
  color: white;
}
.icon-bg{
  border-radius: 50%; border: 2px solid #8F43AE; padding: 10px;
}
.icon-dark-bg{
  border-radius: 50%; border: 2px solid #8F43AE; padding: 10px;
}
.icon-light-bg{
  border-radius: 50%; border: 2px solid white; padding: 10px;
}
.footer-gb{
  background-color: #8F43AE;
  color: white;
  background-image: url('/banner.png'); /* Path to your background image */
  background-size: cover; /* Adjusts the image to cover the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

.semicircle-background::before {
  content: '';
  position: absolute;
  top: 71%; /* Adjust the position as needed */
  left: 53%;
  width: 400px; /* Adjust the size as needed */
  height: 182px; /* Adjust the size as needed */
  background-color: #efdcff; /* Background circle color */
  border-radius: 300px 300px 0 0; /* Create a half-circle */
  transform: translate(-50%, -50%);
  z-index: -1; /* Ensure the circle is behind the image */
}

.no-hover:hover {
  text-decoration: none;
  color: inherit;
}
